@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;300;200&family=Roboto:wght@400;700&display=swap');


body, button, input, select, textarea {
    font-family: 'Poppins', sans-serif;
    }

*{
    box-sizing: border-box;
 }

html, body {
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
    

:root {
    --light-grey: #fffefeea;
    --medium-grey: #818181;
}

h1 {
    font-size: 70px;
    font-weight: 200;
    margin: 0;
}

h3 {
  
    font-weight: 600;
}

.iphone-container {
    width: 350px;
    height: 700px;
    background: var(--light-grey);
    border-radius: 45px;
    border: 20px solid #111;
    position: relative;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 100px 15px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.iphone-container .notch {
    width: 180px;
    height: 25px;
    background: rgb(0, 0, 0);
    border-radius: 0 0 30px 30px;
    position: absolute;
    top: 0;
    left: calc(50% - 90px);
}

.iphone-container .iphone-menu {
    width: 90px;
    height: 2px;
    border-radius: 8px;
    background: var(--medium-grey);
    position: absolute;
    bottom: 20px;
    left: calc(50% - 45px);

}

.iphone-container .top-icon {
    width: 50px;
    height: 50px;

}

.iphone-container .city-name {
    font-weight: 500;
    color: var(--medium-grey);
}

.iphone-container .week {
    display: flex;
    justify-content: space-between;
}

.iphone-container .week .day{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.iphone-container .week .day .temperature {
    
    font-weight: 300;
    font-size: 14px;
}

.iphone-container .week .day .weekday{
    font-weight: 300;
    font-size: 16px;
}

.iphone-container .footer {
   
    display: flex;
    justify-content: space-between;
}

.iphone-container .footer svg {
    width: 30px;
    height: 30px;
}